<!-- animation -->
{% load static %}
<section class="flex mt-5 justify-center container mb-4 md:mb-8 mx-auto">



  <!-- scale -->

  <div class="h-12 w-12 md:h-24 md:w-24 relative cursor-pointer mb-5" onclick="location.href='/a1'">

    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>

    <div class="absolute inset-0 ">

      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-contain bg-no-repeat bg-center" style="background-image: url({% static 'svg/1.png' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1 text-xs">회사소개</h1></div>

    </div>

  </div>



  <!-- roatate and scale -->

  <div class="h-12 w-12 md:h-24 md:w-24 relative cursor-pointer mb-5" onclick="location.href='/b1'">

    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>

    <div class="absolute inset-0 ">

      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-contain bg-no-repeat bg-center" style="background-image: url({% static 'svg/2.png' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1 text-xs">운영관리</h1></div>

    </div>

  </div>



  <!-- rotate -->

  <div class="h-12 w-12 md:h-24 md:w-24 relative cursor-pointer mb-5" onclick="location.href='/g1'">

    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>

    <div class="absolute inset-0 ">

      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-contain bg-no-repeat bg-center" style="background-image: url({% static 'svg/3.png' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1 text-xs">공법종류</h1></div>

    </div>

  </div>



  <!-- rotate minus -->

  <div class="h-12 w-12 md:h-24 md:w-24 relative cursor-pointer mb-5" onclick="location.href='/place'">

    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>

    <div class="absolute inset-0 ">

      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-contain bg-no-repeat bg-center" style="background-image: url({% static 'svg/5.png' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1 text-xs">현장사례</h1></div>

    </div>

  </div>



  <!-- Origin -->

  <div class="h-12 w-12 md:h-24 md:w-24 relative cursor-pointer mb-5" onclick="location.href='/add'">

    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>

    <div class="absolute inset-0 ">

      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-contain bg-no-repeat bg-center" style="background-image: url({% static 'svg/4.png' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1 text-xs">견적문의</h1></div>

    </div>

  </div>



  <!-- translate -->

<!--  <div class="h-24 w-24 relative cursor-pointer mb-5" onclick="location.href='/jquestion/jq'">-->

<!--    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>-->

<!--    <div class="absolute inset-0 ">-->

<!--      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-auto bg-no-repeat bg-center" style="background-image: url({% static 'svg/hw5.svg' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1">질문/답변</h1></div>-->

<!--    </div>-->

<!--  </div>-->








</section>
