<!-- animation -->
{% load static %}
<section class="flex mt-4 items-center justify-center md:grid md:grid-cols-5 md:gap-20 justify-items-center mb-8">



  <!-- scale -->

  <div class="h-24 w-24 relative cursor-pointer mb-5" onclick="location.href='/a1'">

    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>

    <div class="absolute inset-0 ">

      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-auto bg-no-repeat bg-center" style="background-image: url({% static 'svg/hw.svg' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1">회사소개</h1></div>

    </div>

  </div>



  <!-- roatate and scale -->

  <div class="h-24 w-24 relative cursor-pointer mb-5" onclick="location.href='/b1'">

    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>

    <div class="absolute inset-0 ">

      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-auto bg-no-repeat bg-center" style="background-image: url({% static 'svg/hw1.svg' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1">운영관리</h1></div>

    </div>

  </div>



  <!-- rotate -->

  <div class="h-24 w-24 relative cursor-pointer mb-5" onclick="location.href='/g1'">

    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>

    <div class="absolute inset-0 ">

      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-auto bg-no-repeat bg-center" style="background-image: url({% static 'svg/hw2.svg' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1">공법종류</h1></div>

    </div>

  </div>



  <!-- rotate minus -->

  <div class="h-24 w-24 relative cursor-pointer mb-5" onclick="location.href='/place'">

    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>

    <div class="absolute inset-0 ">

      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-auto bg-no-repeat bg-center" style="background-image: url({% static 'svg/hw3.svg' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1">현장사례</h1></div>

    </div>

  </div>



  <!-- Origin -->

  <div class="h-24 w-24 relative cursor-pointer mb-5" onclick="location.href='/add'">

    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>

    <div class="absolute inset-0 ">

      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-auto bg-no-repeat bg-center" style="background-image: url({% static 'svg/hw4.svg' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1">견적문의</h1></div>

    </div>

  </div>



  <!-- translate -->

<!--  <div class="h-24 w-24 relative cursor-pointer mb-5" onclick="location.href='/jquestion/jq'">-->

<!--    <div class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"></div>-->

<!--    <div class="absolute inset-0 ">-->

<!--      <div class="h-full w-full bg-white rounded-lg shadow-2xl bg-auto bg-no-repeat bg-center" style="background-image: url({% static 'svg/hw5.svg' %});"><div class="w-full h-full"></div><h1 class="text-center font-black mt-1">질문/답변</h1></div>-->

<!--    </div>-->

<!--  </div>-->








</section>
