{% load static %}
<footer class=" inset-x-0 bottom-0">
<hr class="w-full border-black" />
    <div class="md:grid md:grid-cols-2 md:gap-4 ">
        <div class="md:flex md:flex-wrap text-center md:mx-auto justify-center">
            <div class="w-full mt-4">
                <ul class="list-unstyled">
                  <li>
                    <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="/a1/">
                        <img src="{% static 'image/logo111.jpg' %}" style="width:180px; height:80px">
                    </a>
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block text-sm"
                      href="/a2/"
                      >경기도 용인시 기훙구 기흥역로58번길 10</a
                    >
                  </li>
                </ul>
            </div>
        </div>

        <div class="mx-auto w-full bg-contain h-32 bg-no-repeat bg-center " style="background-image: url({% static 'image/i/i6.JPG' %});">
        </div>
    </div>
        <hr class="border-gray-400" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-gray-600 font-semibold py-1 mb-8 md:mb-2">
              Copyright © 2020 by 82clean
              <a
                href=""
                class="text-gray-600 hover:text-gray-900"
                ></a
              >.
            </div>
          </div>
        </div>
      </div>
    </footer>