<footer class="">
<hr class="w-full border-gray-400" />
                <div class="w-full ">
            <div class="flex flex-wrap text-center mb-6">

              <div class="w-full mt-4">
                <span
                  class="block uppercase text-gray-600 text-sm font-semibold mb-2"
                  >Other Resources</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="/a1/"
                      >대표자 : 이지용</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="/a2/"
                      >경기도 용인시 기훙구 기흥역로58번길 10</a
                    >
                  </li>

                  <li>
                    <a
                      class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                      href="/add/"
                      >전화번호 010-8740-8253</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-6 border-gray-400" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-gray-600 font-semibold py-1">
              Copyright © 2020 by 82clean
              <a
                href=""
                class="text-gray-600 hover:text-gray-900"
                ></a
              >.
            </div>
          </div>
        </div>
      </div>
    </footer>