<nav class="sm:hidden bg-white shadow-lg fixed max-w-screen-md z-10 mx-auto inset-x-0 bottom-0 flex justify-between items-center rounded">
    <a href="tel:010-8740-8253" class="font-extrabold m-3 uppercase inline-flex hover:text-pink-700 transition-all duration-500">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 22.621l-3.521-6.795c-.008.004-1.974.97-2.064 1.011-2.24 1.086-6.799-7.82-4.609-8.994l2.083-1.026-3.493-6.817-2.106 1.039c-7.202 3.755 4.233 25.982 11.6 22.615.121-.055 2.102-1.029 2.11-1.033z"/></svg>
		010-8740-8253
    </a>
    <a href="/add/" class="w-32 bg-white tracking-wide text-gray-800 font-bold rounded border-b-2 border-red-500 hover:border-red-600 hover:bg-red-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center right-0 mr-2">
        <span class="mx-auto">견적문의</span>
    </a>
</nav>