<nav
		class="absolute z-10 fixed w-24 sm:w-56 mt-40 md:mt-48 bg-white dark:bg-gray-800 select-none overflow-y-auto
		transition duration-500 ease-in-out ">

		<div class="fixed flex flex-col md:items-center items-left ">



			<span
				class="border-dashed border-2 ml-4 px-2 border-blue-700 text-black rounded-lg mt-2 mb-6 dark:text-gray-400 transition
				duration-500 ease-in-out ">
				#회사 소개
			</span>
		</div>

		<ul class="fixed mt-12">
			<li
				class="px-1 py-1 sm:pl-8 sm:py-2font-semibold text-gray-700 dark:text-gray-400
				hover:bg-blue-200 dark-hover:bg-blue-500 mb-2 transition
				duration-500 ease-in-out">

				<a href="/a1/">
				<button
					class="focus:text-blue-500 dark-focus:text-blue-400
					focus:outline-none w-full transition duration-500 ease-in-out">

					<span class="flex items-center">


						<span class="ml-0 sm:ml-4 ">CEO 인사</span>
					</span>
				</button>
				</a>
			</li>

			<li

				class="px-1 py-1 sm:pl-8 sm:py-2 font-semibold text-blue-500 dark:text-blue-400
				border-l-2 border-blue-500 hover:bg-blue-200 mb-2 transition
				duration-500 ease-in-out" >


				<a href="/a2/">
				<button
					class="focus:text-blue-500 dark-focus:text-blue-400
					focus:outline-none w-full transition duration-500 ease-in-out" >

					<span class="flex items-left sm:items-center">

						<span class="ml-0 sm:ml-4 capitalize">오시는 길</span>
					</span>
				</button>
				</a>
			</li>
		</ul>
	</nav>
