 {% load static %}
 <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    .swiper-container {
      width: 100%;
      height: 50%;


    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;


      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  </style>




 <div class="swiper-container mt-32 md:mt-0">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-contain text-center bg-no-repeat text-white bg-black bg-center" style='background-image: url("{% static 'image/s/s1.JPG' %}");'>


			</div>
			<div class="swiper-slide bg-contain text-center bg-no-repeat text-white bg-black bg-center" style='background-image: url("{% static 'image/s/s2.JPG' %}");'>

 			</div>
			<div class="sswiper-slide bg-contain text-center bg-no-repeat text-white bg-black bg-center" style='background-image: url("{% static 'image/s/s3.JPG' %}");'>

	 		</div>
 			<div class="swiper-slide bg-contain text-center bg-no-repeat text-white bg-black bg-center" style='background-image: url("{% static 'image/s/s4.JPG' %}");'>

	 		</div>
 			<div class="swiper-slide bg-contain text-center bg-no-repeat text-white bg-black bg-center" style='background-image: url("{% static 'image/s/s5.JPG' %}");'>

	 		</div>

		</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination"></div>
		<!-- Add Arrows -->

 </div>