<div class="w-full md:w-1/4 mb-10 px-2 ">
    <a href="{% url 'places:detail' room.pk %}">
    <div class="w-full h-64 rounded-lg mb-2 bg-cover bg-center" style="background-image: url({{room.second_photo}});"></div>
    <div class="flex mb-2 truncate">
        <div class="w-4/5 overflow-hidden flex">


            <span class="mr-2 font-medium text-xs border border-black text-black rounded py-px px-1">담당자 : {{room.host.username}}</span>


        </div>

    </div>
    <span class="text-black w-11/12 block truncate ">{{room.name}}</span>
    </a>
</div>
