{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/a_styles.css' %}">



    <title>{% block page_title %}{% endblock page_title %} 82클린 | 82clean</title>
  </head>
  <header>
    {% include "partials/headernav.html" %}
  </header>
  <body class="text-gray-800 font-light h-screen w-full font-sans ">

    {% include "partials/testnav1.html" %}
    {% include "partials/messages.html" %}
    {{ STATIC_URL }}

    {% block content %}{% endblock %}


  </body>
  {% include "partials/footer.html" %}
<script>
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
  </script>
</html>
