{% extends "base2.html" %}
{% load static %}
{% block page_title %}
질문 및 답변 - 상세페이지
{% endblock %}

{% block content %}

<div class="container mx-auto my-3">
    <h2 class="border-b py-2 text-lg font-black">{{ question.subject }}</h2>
    <div class="w-2/3 px-10 py-6 bg-white rounded-lg shadow-md my-3">
        <div class="flex" style="white-space: pre-line;">
            {{ question.content }}

        </div>
    </div>
    <h5 class="border-b my-3 py-2 text-md">{{question.answer_set.count}}개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set.all %}
    <div class="flex">
    <div class="w-1/3"></div>
    <div class="w-2/3 px-10 py-6 bg-white rounded-lg shadow-md my-3 my-3 justify-end">
        <div class="flex">
            <div class="flex text-blue-600" style="white-space: pre-line;" >{{ answer.content }}</div>
            <div class="flex justify-center">
                <div class="badge badge-light p-2">
                    - 82클린 -
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
    <form action="{% url 'jquestions:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}

        {% if form.errors %}
    <div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1" role="alert">
    {% for field in form %}
        {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }}
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
{% if user.username %}
        <div class="form-group">
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white transition bg-green-500 rounded-full shadow ripple hover:shadow-lg hover:bg-green-700 focus:outline-none font-black text-md" />
        	{% endif %}
    </form>
</div>
{% endblock %}