{% extends "base2.html" %}
{% load static %}
{% block page_title %}
질문 및 답변 - 질문 등록 페이지
{% endblock %}


{% block content %}

<div class="container mx-auto">
    <h2 class="my-3 border-b pb-2 text-xl">질문등록</h2>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        <!-- -------------------------------------- [edit] -------------------------------------- -->
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="my-4">
            <label for="subject" class="font-semibold">제목</label>
            <input type="text" class="border-2 border-blue-500" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="my-4">
            <label for="nickname" class="font-semibold">닉네임</label>
            <input type="text" class="border-2 border-blue-500" name="nickname" id="nickname"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="my-4">
            <label for="content" class="font-semibold">내용</label>
            <textarea class="border-2 border-blue-500" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <!-- ------------------------------------------------------------------------------------ -->
        <button type="submit" class="transform hover:scale-110 motion-reduce:transform-none inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-blue-500 rounded-full shadow ripple hover:shadow-lg hover:bg-blue-700 focus:outline-none font-black text-md">저장하기</button>
    </form>
</div>
{% endblock %}