{% extends "base1.html" %}
{% load static %}

{% block page_title %}
  현장사례
{% endblock %}
{% block nav1 %}

            {% include "partials/sidenav11.html" %}

{% endblock %}
{% block content %}


  <div class="container pb-20 mx-auto ">

    <div class="w-full rounded-xl pb-20 lg:mt-48 text-center text-white text-sm font-sans bg-cover bg-no-repeat" style="background-image:url({% static 'image/bg2.jpg' %})" >
      <h5>82clean </h5>
    </div>
      <h5 class="text-3xl text-center">#회사소개 - CEO 인사말 </h5>
    <img src="{% static 'image/a1.png' %}" class=""/>
{% include "partials/footer.html" %}
  </div>
{% endblock content %}