{% extends "base1.html" %}
{% load static %}

{% block page_title %}
  현장사례
{% endblock %}
{% block nav1 %}

            {% include "partials/sidenav12.html" %}

{% endblock %}
{% block content %}


  <div class="container pb-20 mx-auto ">

    <div class="w-full rounded-xl pb-20 lg:mt-48 text-center text-white text-sm font-sans bg-cover bg-no-repeat mb-4" style="background-image:url({% static 'image/bg2.jpg' %})" >
      <h5>82clean </h5>
    </div>
      <h5 class="text-3xl text-center"> 오시는 길 </h5>

    <img class="w-full h-full mt-4" src="{% static 'image/a/map.png' %}"/>
{% include "partials/footer.html" %}
  </div>
{% endblock content %}