{% extends "base1.html" %}
{% load static %}

{% block page_title %}
  회사소개
{% endblock %}
{% block nav1 %}



{% endblock %}
{% block content %}


  <div class="container mt-48 mx-auto max-w-7xl ">



    <div class="mt-2 grid grid-cols-6 gap-4">
        <div>
             {% include "partials/sidenav12.html" %}
        </div>
        <div class="col-end-7 col-span-5">
    <img class="w-full " src="{% static 'image/a/map.png' %}"/>
        </div>
      </div>
  </div>


{% include "partials/footer.html" %}

{% endblock content %}