{% load static %}
<!DOCTYPE html>
<html>
  <head>

	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <meta name="naver-site-verification" content="7d8b7fbc9efcb5dd5771d7100ecc4982363e5403" />
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="{% static 'assets/img/favicon1.ico' %}" />
     <link rel="canonical" href="http://www.82clean.com" />
    <link rel="image_src" href="{% static 'image/s/s1.JPG' %}" />
    <meta name="description" content="서울/경기/인천 365일 24시간 하수구 막힘 해결, 냄새 제거 및 확실한 A/S" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'assets/img/favicon1.ico' %}"
    />
     <link
      rel="stylesheet"
      href="{% static 'css/styles.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/a_styles.css' %}"
    />


    <meta property="og:type" content="website" />
    <meta property="og:title" content="82클린 | 82clean - 배관관리 전문기업, 하수구 막힘 해결, 냄새 제거, 확실한 A/S" />
    <meta property="og:description" content="서울/경기/인천 365일 24시간 하수구 막힘 해결, 냄새 제거 및 확실한 A/S" />
    <meta property="og:image" content="{% static 'image/s/s1.JPG' %}">
    <meta property="og:url" content="http://www.82clean.com" />
    <title>82클린 | 82clean - 배관관리 전문기업, 하수구 막힘 해결, 냄새 제거, 확실한 A/S </title>
  </head>
  <header>
{% include "partials/headernav.html" %}
  </header>
  <body class="text-gray-800 font-light h-screen w-full font-sans">
  {% include "partials/testnav1.html" %}
  {% include "partials/messages.html" %}
  {% include "partials/slider.html" %}
   {% include "partials/ani.html" %}
  <div class="mt-20 border-b-2"> <h1 class="text-2xl text-center"> 최근 현장사례 </h1></div>
<div class="container mx-auto grid grid-cols-5 gap-4 justify-between flex flex-row mb-20">
{% for room1 in homes %}
    {% include "partials/indexplace1.html" %}
{% endfor %}
</div>

  </body>


  {% include "partials/footer.html" %}
  <script>
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
  </script>

	<!-- Swiper JS -->
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<!-- Initialize Swiper -->
	<script>
		var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      centeredSlides: true,
      effect: 'fade',
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
	</script>
</html>
