{% extends "base1.html" %}
{% load static %}

{% block page_title %}
  공법종류
{% endblock %}
{% block nav1 %}



{% endblock %}
{% block content %}


  <div class="container pb-20 mx-auto ">

    <div class="w-full rounded-xl pb-20 lg:mt-48 text-center text-white text-sm font-sans bg-cover bg-no-repeat" style="background-image:url({% static 'image/9.jpg' %})" >
      <h5>82clean </h5>
    </div>
      <h5 class="text-3xl text-center"> </h5>
      <div class="grid grid-cols-6 gap-4">
<div>
        {% include "partials/sidenav1.html" %}
</div>

       <div class="col-end-7 col-span-5 "><img class="col-span-2" src="{% static 'image/a/4.jpg' %}"/>
       </div>
       </div>
{% include "partials/footer.html" %}
  </div>

{% endblock content %}
