{% extends "base1.html" %}
{% load static %}

{% block page_title %}
  공법종류
{% endblock %}
{% block nav1 %}



{% endblock %}
{% block content %}


  <div class="container mx-auto ">


      <img class="" src="{% static 'image/b/a1.png' %}" style="height:50px;"/>

      <div class="md:grid md:grid-cols-6 md:gap-4 ">
<div class="col-start-1 col-span-2">

  <div class="ml-8 grid grid-cols-1 gap-1">
    <div class="border-b-4 border-blue-600 font-sans text-4xl font-black tracking-wider leading-relaxed"># 공법 &middot; 기술 </div>
    <div class="text-blue-600 italic text-2xl font-black mb-2"> SERVICE </div>
    <a class="text-xl hover:underline" href="/g1/"> 고압세척  </a>
    <a class="underline font-bold text-xl hover:underline" href="/g2/"> 와이어 통수(내시경 촬영 가능) </a>
    <a class="text-xl hover:underline" href="/g3/"> 준설 </a>
    <a class="text-xl hover:underline border-b-4 border-blue-600 " href="/g5/"> 배관 보수 / 신설  </a>
    <div class="text-blue-600 italic text-2xl font-black mb-2"> TECHNIQUE </div>
    <div class="mt-2 font-bold text-xl mb-4"> 배관 막힘(역류) 현상 응급조치  </div>
      <p class="text-gray-600 text-lg"> 고압세척에 비해 제거율은 낮지만 </p>
      <p class="text-gray-600 text-lg"><span class="font-bold text-black">갑작스런 배수관 막힘 </span>으로</p>
      <p class="text-gray-600 text-lg mb-2"> <span class="font-bold text-black">역류현상</span> 발생할 경우<span class="font-bold text-black"> 효과적인 공법</span></p>
      <p class="text-gray-600 text-lg">배관 내 와이어 스프링을 삽입, 관통시켜</p>
      <p class="text-gray-600 text-lg">물이 통하게 하는 작업으로 </p>
      <p class="text-gray-600 text-lg mb-4"> <span class="font-bold text-black">상대적으로 저렴한 비용</span>으로 조치 가능</p>
      <br>


    </div>

</div>


          <div class="h-auto w-full bg-center bg-cover bg-no-repeat" style="cursor: pointer; background-image:url({% static 'image/b/p11.png' %})" onclick="location.href='/g1/';">
       </div>
          <div class="h-auto w-full bg-center bg-cover bg-no-repeat" style="cursor: pointer; background-image:url({% static 'image/b/p22.png' %})" onclick="location.href='/g2/';">
       </div>
          <div class="h-auto w-full bg-center bg-cover bg-no-repeat" style="cursor: pointer; background-image:url({% static 'image/b/p3.png' %})" onclick="location.href='/g3/';">
       </div>
          <div class="h-auto w-full bg-center bg-cover bg-no-repeat" style="cursor: pointer; background-image:url({% static 'image/b/p4.png' %})" onclick="location.href='/g5/';">
       </div>


       </div>

  </div>

{% endblock content %}
