{% extends "base1.html" %}
{% load static %}

{% block page_title %}
  공법종류
{% endblock %}
{% block nav1 %}



{% endblock %}
{% block content %}


  <div class="container mx-auto ">


      <img class="" src="{% static 'image/b/a1.png' %}" style="height:50px;"/>
      <div class="md:grid md:grid-cols-6 md:gap-4 ">
<div class="col-start-1 col-span-2">

  <div class="ml-8 grid grid-cols-1 gap-1">
    <div class="border-b-4 border-blue-600 font-sans text-4xl font-black tracking-wider leading-relaxed"># 공법 &middot; 기술 </div>
    <div class="text-blue-600 italic text-2xl font-black mb-2"> SERVICE </div>
    <a class="text-xl hover:underline" href="/g1/"> 고압세척  </a>
    <a class="text-xl hover:underline" href="/g2/"> 와이어 통수 </a>
    <a class="text-xl hover:underline" href="/g3/"> 준설 </a>
    <a class="font-bold underline text-xl hover:underline border-b-4 border-blue-600 " href="/g5/"> 배관 보수 / 신설(내시경 촬영 가능)  </a>
    <div class="text-blue-600 italic text-2xl font-black mb-2"> TECHNIQUE </div>
    <div class="mt-2 font-bold text-xl mb-4"> 배관의 노후&middot;파손&middot;이탈 등 사고예방  </div>

      <p class="text-gray-600 text-lg"> 관절 이음세 부분의 <span class="font-bold text-black">부분적인 교체</span>나</p>
      <p class="text-gray-600 text-lg">배관<span class="font-bold text-black">높낮이 조절</span>과 <span class="font-bold text-black">행가 보강</span>으로</p>
      <p class="text-gray-600 text-lg mb-2"> <span class="font-bold text-black">정상범위 배수 구배</span>를 맞추는 보수작업</p>
      <p class="text-gray-600 text-lg">노후화가 진행되는 <span class="font-bold text-black">배관을 보수</span>하거나,</p>
      <p class="text-gray-600 text-lg"><span class="font-bold text-black">배관 철거 후 신설&middot;설치 </span>하는 공법 </p>
      <p class="text-gray-600 text-lg ">주기적인 배관 점검으로</p>
      <p class="text-gray-600 text-lg mb-4"> <span class="underline font-bold text-black">배관 수명 연장</span>에 좋은 공법</p>



    </div>

</div>


          <div class="h-auto w-full bg-center bg-cover bg-no-repeat" style="cursor: pointer; background-image:url({% static 'image/b/p11.png' %}); background-size: cover;" onclick="location.href='/g1/';">
       </div>
          <div class="h-auto w-full bg-center bg-cover bg-no-repeat" style="cursor: pointer; background-image:url({% static 'image/b/p2.png' %})" onclick="location.href='/g2/';">
       </div>
          <div class="h-auto w-full bg-center bg-cover bg-no-repeat" style="cursor: pointer; background-image:url({% static 'image/b/p3.png' %})" onclick="location.href='/g3/';">
       </div>
          <div class="h-auto w-full bg-center bg-cover bg-no-repeat" style="cursor: pointer; background-image:url({% static 'image/b/p44.png' %})" onclick="location.href='/g5/';">
       </div>


       </div>

  </div>

{% endblock content %}
