{% extends "base1.html" %}
{% load static %}

{% block page_title %}
  현장사례
{% endblock %}
{% block nav1 %}

            {% include "partials/sidenav112.html" %}

{% endblock %}
{% block content %}


  <div class="container pb-20 mx-auto ">

    <div class="w-full rounded-xl pb-20 lg:mt-48 text-center text-white text-sm font-sans bg-cover bg-no-repeat" style="background-image:url({% static 'image/11.jpg' %})" >
      <h5>82clean </h5>
    </div>
      <h5 class="text-3xl text-center">#운영관리 - 중장기 관리 </h5>
{% include "partials/footer.html" %}
  </div>
{% endblock content %}